h5py==3.6.0
matplotlib==3.6.0
numpy==1.23
pandas==1.5.3
pesq==0.0.4
pyroomacoustics==0.6.0
PySoundFile==0.9.0.post1
pystoi==0.3.3
pytorch-lightning
scipy==1.8.0
sdeint==0.2.4
SoundFile==0.12.1
tensorboard==2.13
torch==2.0.1
torch-ema
torchaudio
tqdm==4.63.0
Ninja
pydub
